#main-navigation {
    margin-top:70px;
    margin-bottom:50px;
}

#main-navigation ul {
    display: block;
    padding:0;
    list-style: none;
}

#main-navigation > ul > li {
    float: left;
    width: 25%;
    position: relative;
}

#main-navigation > ul > li > a {
    display: block;
    background-color: rgb(60, 95, 75);
    padding: 20px 0;
    color: white;
    border-right: 2px solid rgb(171, 158, 132);
    text-align: center;
    text-decoration: none;
}

#main-navigation ul li:last-of-type a {
    border: none;
}

#main-navigation ul li a:hover {
    background-color: rgb(113, 170, 136);
}

#main-navigation ul li a:active {
    background-color: rgb(171, 158, 132);
}

#main-navigation ul li a.active {
    background-color: green;
}


